@using LMS20.Core.Types
@model CoursesViewModel

<!-- Modal View -->
@{ var course = new CreateCoursePartialViewModel{}; }
<partial name="CreateCoursePartial" model="@course"/>

<div class="row">
<div class="col-2">

    <!-- Nav-bar -->
    <div class="msb" id="msb">
	    <nav class="navbar navbar-default" role="navigation">
            <div class="side-menu-container">

	            <ul class="nav navbar-nav central">
		            <li>
                        <a asp-action="CreateCoursePartial"  class="nav-link text-black" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                data-ajax="true"
                                data-ajax-method="GET"
                                data-ajax-update="#createajax"
                                data-ajax-mode="replace"
                                data-ajax-success="fixValidation">
                        
                            <i class="central bi bi-mortarboard-fill"></i>
                            <div class="central-text">Skapa ny kurs</div>
                        </a>             
                    </li>
                    <li>
                        <a asp-action="Participants" class="nav-link text-black">
                            <i class="central bi bi-person-fill"></i>
                            <div class="central-text">Lägg till ny lärare</div>
                        </a>
                    </li>
	            </ul>

            </div>
        </nav>  
    </div>

</div>

<!-- Courses List -->
<div class="col-10" id="courses-list">

    <h1>Kurser</h1>
    <hr />

@{
    bool isFound = false;
    foreach(var item in Model.courses) {

        if(item.Start < DateTime.Now && item.End > DateTime.Now) {

            if(!isFound) { 
                <span class="coursegroup">Pågående</span> 
                isFound = true; 
            }
            
            item.CourseStatus = Status.Current;
            <partial name="CoursePartial" model="@item"/>
        }
    }

    isFound = false;
    foreach(var item in Model.courses) {

        if(item.Start > DateTime.Now) {

            if(!isFound) { 
                        <span class="coursegroup">Kommande</span>
                        isFound = true; 
            }

            item.CourseStatus = Status.Comming;
            <partial name="CoursePartial" model="@item"/>
        }
    }

    isFound = false;
    foreach(var item in Model.courses) {

        if(item.End < DateTime.Now) {

            if(!isFound) { 
                <span class="coursegroup">Avslutade</span> 
                isFound = true; 
            }
            
            item.CourseStatus = Status.Completed;
            <partial name="CoursePartial" model="@item"/>
        }
    }
}
</div>
</div>



@*

//<p>
//    <a asp-action="Create">Create New</a>
//</p>
//<table class="table">
//    <thead>
//        <tr>
//            <th>
//                @Html.DisplayNameFor(model => model.Name)
//            </th>
//            <th>
//                @Html.DisplayNameFor(model => model.Description)
//            </th>
//            <th>
//                @Html.DisplayNameFor(model => model.Start)
//            </th>
//            <th>
//                @Html.DisplayNameFor(model => model.End)
//            </th>
//            <th></th>
//        </tr>
//    </thead>
//    <tbody>
@foreach (var item in Model) {
//        <tr>
//            <td>
//                @Html.DisplayFor(modelItem => item.Name)
//            </td>
//            <td>
//                @Html.DisplayFor(modelItem => item.Description)
//            </td>
//            <td>
//                @Html.DisplayFor(modelItem => item.Start)
//            </td>
//            <td>
//                    @Html.DisplayFor(modelItem => item.End)
//            </td>
//            <td>
//                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
//                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
//                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
//            </td>
//        </tr>
//}
//    </tbody>
//</table>
*@

